.last{
    display: flex;
    justify-content: center;
    gap:7px;
    position: relative;
    bottom:75px;
    color: white;
}

.footer{
   height:300px;
   margin-top: 100px;
   padding: 20px 165px;
   color: white;
   border-top: 8px solid rgba(65, 65, 65, 0.5);
}

.end{
    display: flex;
    gap: 155px;
    position: relative;
    bottom: 40px;
}
.end>div{
    display: flex;
    flex-direction: column;
}

.footer h4{
    padding-bottom: 55px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 400;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.end a{
    text-decoration: underline;
    text-decoration-thickness: -1px;
    color:rgba(255, 255, 255, 0.7);
    cursor: pointer;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 0.875rem;
    padding-top: 15px;
    text-decoration: none;
}

.call{
    display: flex;
    gap: 5px;  
}

.select{
   height: 25px;
   background-color: transparent;
   border: none;
   color: #fff;
   font-family: sans-serif;
   position: relative;
   bottom: 1px;
   font-size: 1rem;
   appearance: none;
}

#lang-select2{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    border:1px solid gray;
    font-family: sans-serif;
    width: 128px;
    height: 31px;
    position: relative;
    bottom:12px; 
}

#lang-select2 img{
    width: 20px;
    height: 17px;
    position: relative;
    top: 3px;
}

.call a{
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

#text{
    padding-top: 10px;
}

.text1{
    width: 165px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    
}

.download-icon img{
    padding-top: 15px;
    height: 50px;
    width: 50px;
}

.text1 h4{
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.text1 h5{
    font-size: 0.875rem;
    font-weight: 400;
    color: #0071eb;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

hr{
    border:3.5px solid rgba(55, 55, 55, 0.776);
}
